@import './modules/all';
@import './components/all';


body{
   background:$primary-clr;
   color:$second-clr-light;
   background:green;
   font-family: $main-f-family;
   font-weight: $fw-medium;
   margin:0;
   padding:0;
}
ul,ol,li{
   padding:0;
   margin:0;
}