.btn{
    height:65px;
    width:208px;
    color:white;
    border: 2px solid $primary-clr;
    background:transparent;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 48px;
    font-size:1.3em;
    font-weight:$fw-fat;
    letter-spacing: 0.3px;

    &--second{
        color:$second-clr;
        border-color: $second-clr-light-2;
        
    }
    &--third{
        background: $third-clr;
        border-color:$third-clr;
    }
}