.btn{
    height:65px;
    width:208px;
    color:white;
    border: 2px solid $primary-clr;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 48px;
    font-weight:$fw-fat;
    letter-spacing: 0.3px;

    &.btn--second{
        color:$second-clr;
        border-color: $second-clr-light-2;
    }
    &.btn--third{
        background: $third-clr;
        border-color:$third-clr;
    }
}