.page-header{
    background: url('/assets/img/photo.png');
    background-repeat: no-repeat;
    height:1080px;
    width:100%;
    background-position: top center;
    background-size: cover;
    color:$primary-clr;
    font-size:14px;
    
}
.container-full{
    max-width: 1200px;
    margin:0 auto;
    height: 100%;
   
}
.menu-bar{
    max-width: 1000px;
    position: relative;
    margin:0 auto;
    height: 74px;
    
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
   
    &__list{
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        width: 200px;
       
    }
    &__item{
        text-transform: uppercase;   
        font-size:1em;   
    }
}
.site-logo{
    width: 100%;
    text-align: center;
    position: absolute;
    font-family: $second-f-family;
    color:$third-clr;
    margin:0;
    top:60px;
    padding: 0;
    font-size:3em;
}

.section-intro{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:90%;
  
    &__header{
        font-family: $second-f-family;
        font-size:4em;
        text-align: center;
        span{
            color:$third-clr;
        }
    }
    &__paragraph{
        width:86%;
        text-align: center;
        font-size:1.5em;
        line-height: 48px;
        padding-bottom: 20px;
    }
    
}
@media (min-width:640px) {
    .page-header{
        font-size: 18px;
    }
    .site-logo{
        top:20px; 
        font-size:4.5em;
    }
        .section-intro{
            height: calc(100% - 144px);
        &__header{
            font-size:4.5em;
        }
        &__paragraph{
            width:60%;        
        }
    }
    .menu-bar{
        max-width: 1000px;
        position: relative;
        margin:0 auto;
        height: 144px;
        
    }
}